{% extends 'index.html' %}
{%block title%}Send Email{%endblock%}
{%block content%}
<section class="section py-5 my-5 bg-white" aria-describedby="titleEx6">
  <div class="container py-5 my-6 bg-white">
    <h2 class="page-section-heading text-center text-uppercase text-dark mb-0">
      Thank you, your message has been sent successfully.
    </h2>
    <div clas="p-2 m-2 bg-white text-dark">
      <p class="p-2 m-2 bg-white text-dark">
        <h3>Sender: {{name}}<h3>
        Message:<br/>
        {{message}}
      </p>
    </div>
  </div>
</section>
{% endblock content%}
